<div class="container">
  <h1>Ricky and Morty API</h1>
  <h3>Total characters :: <%= @characters.count %></h3>
  <% @characters.each do |character| %>
    <div class="card-character">
      <img src="<%= character.image %>" />
      <div class="card-character-infos">
        <h2><%= character.name %></h2>
        <p>Number of episodes :: <strong><%= character.episodes.count %></strong></p>
      </div>
    </div>
  <% end %>
</div>
