<div class="container">
  <h1>Ricky and Morty</h1>
  <div>
    <%= will_paginate @characters, renderer: WillPaginate::ActionView::BootstrapLinkRenderer,
    previous_label: "Prev", next_label: "Next", inner_window: 1, outer_window: 0 %>
  </div>
  <% @characters.each do |character| %>
    <div class="card-character">
      <img src="<%= character.image %>" />
      <div class="card-character-infos">
        <h2><%= character.name %></h2>
        <p>Number of episodes : <strong><%= character.episodes.count %></strong></p>
      </div>
    </div>
  <% end %>
</div>
